<h1>About Me</h1>

<p>I am a software developer and teacher from Austria.</p>
<p>As a developer I'm working in the areas of <em>web development</em> (full stack), <em>3D graphics</em> 
and <em>computational geometry</em>, amongst others.<br>
Tools I use include Python, JavaScript, Django, Git, Bootstrap and AngularJS.</p>
<p>I am also teaching mathematics and geometry in school and in private.</p>
<p>I enjoy working for the organisations <a href=http://www.cisv.org/ target="_blank">CISV</a>
and <a href=http://bonfaremo.org/ target="_blank">Bonfaremo</a>.</p>
