<h1>Über Mich</h1>

<p>Ich bin ein Softwareentwickler und Lehrer aus Wien.</p>
<p>Als Entwickler arbeite ich vorwiegend in den Bereichen
<em>Webentwicklung</em>, <em>3D Grafik</em> und <em>algorithmische Geometrie</em>.<br>
Dazu verwende ich unter anderem Python, JavaScript, Django, Git, Bootstrap und AngularJS.</p>
<p>Außerdem unterrichte ich Mathematik und Geometrie in der Schule und als Nachhilfelehrer.</p>
<p>Abseits der Arbeit bringe ich mich bei den gemeinnützigen Organisationen
<a href=http://www.cisv.org/ target="_blank">CISV</a>
und <a href=http://bonfaremo.org/ target="_blank">Bonfaremo</a> ein.</p>
