<h1>Software<wbr>entwicklung</h1>

<p>
  Als Softwareentwickler beschäftige ich mich hauptsächlich mit Webentwicklung (jQuery, Django, Bootstrap, three.js) sowie mit mathematischen und geometrischen Algorithmen.
</p>

<h2>Qualifikationen</h2>

<h3>Programmiersprachen: Python, JavaScript</h3>
<p>
  Als Anhänger von Python bin ich sehr vertraut mit dessen Syntax, Funktionsweise und den verfügbaren Bibliotheken. Ich verfolge PEPs (Python enhancement proposals), um immer am aktuellsten Stand der Entwicklung zu sein. Weiters verwende ich JavaScript für client-seitige Entwicklung. Desweiteren habe ich Kenntnisse in C#, PHP und Visual Basic.
</p>

<h3>Webentwicklung: JavaScript, Angular, three.js</h3>
<p>
  Ich habe Erfahrung in der Entwicklung interaktiver Websites um Webanwendungen: Bisherige Projekte umfassten das Arbeiten mit HTML5, jQuery, AngularJS, Bootstrap und interaktiven SVG- und 3D-Inhalten. Serverseitig arbeite ich mit Django, Python, nginx, Docker und Amazon Web Services.
</p>

<h3>Mathematik</h3>
<p>
  Als Absolvent eines Mathematikstudiums umfasste meine bisherige Arbeit als Entwickler auch das Entwickeln und Implementieren komplexer mathematischer und geometrischer Algorithmen. Hier konnte ich meine Fähigkeiten mit NumPy, SymPy, SciPy, Sage, Open Cascade und MATLAB einbringen.
</p>

<h2>Portfolio</h2>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/cck-cutter-mirrored.png">
      <div class="caption">
        <h3>Cookie Cutter Customizer</h3>
        <p>
          Ein Projekt für das Startup <em>Cookie Cutter Kingdom</em>: Erstellung einer web-basierten 3D-Vorschau für individualisierte, 3D-gedruckte Keksausstecher. Die Ausstecher können mit einem persönlichen Text versehen oder auch aus einem vom Benutzer bereitgestellten Bild erstellt werden. Hierzu entwickelte ich auch ein SVG-basiertes Zeichenwerkzeug, das im engültigen Produkt aber nicht Verwendung fand.
        </p>
        <p><a href="http://www.cookiecutterkdom.com/">Website</a><br>
        <a href="http://www.cookiecutterkdom.com/collections/customizer/products/heart-cutter?variant=1391212545">Beispiel: Herzform</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/kontobuch-piechart.png">
      <div class="caption">
        <h3>Kontobuch</h3>
        <p>
          Ein Finanzassitent, um Ausgaben und Einnahmen auf österreichischen
          Bankkonten im Auge zu behalten
        </p>
        <p>
          Kategorisiert Buchungen automatisch und visualisiert sie in interaktiven Diagrammen
        </p>
        <p><a href="http://marko-knoebl.github.io/kontobuch/">Website</a></p>
      </div>
    </div>
  </div>
  <div class="clearfix visible-sm"></div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/2048-3d-screenshot.png">
      <div class="caption">
        <h3>2048 3D</h3>
        <p>Ein kleines Projekt, bei dem ich eine 3D-Version des Spiels 2048 erstellt habe</p>
        <p><a href="http://marko-knoebl.github.io/2048-3D/">Website</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/kubos-0.2-screenshot.png">
      <div class="caption">
        <h3>Kubos</h3>
        <p>Dieses einfache CAD-Programm habe ich im Rahmen meiner Magisterarbeit erstellt. Es ist vorrangig für den Einsatz an Schulen gedacht. Dank seines durchdachten Programmdesign besteht es aus nur 4000 Zeilen an Python Code.</p>
        <p><a href="http://sourceforge.net/p/kubos/wiki/Home/">Website</a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/screenshot_640x400.png">
      <div class="caption">
        <h3>Kubos Blocks</h3>
        <p>Ein web-basiertes Modellierprogramm, bei dem Objekte aus Blöcken zusammengesetzt werden.</p>
        <p><a href="https://kubos.pythonanywhere.com/blocks">Website</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/tetris-screenshot.png">
      <div class="caption">
        <h3>Tetr</h3>
        <p>Ein Tool zum erstellen von web-basierten Tetris-Spielen. Bietet vierschiedenste anpassbare Grafikoptionen, von der textbasierten Version aus 1984 zur 3D-Grafik.</p>
        <p><a href="https://github.com/marko-knoebl/tetr">Projektseite</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/pythagoras-screenshot.png">
      <div class="caption">
        <h3>Pythagoras Trainer</h3>
        <p>Eine Web-App, die Schülern die Möglichkeit bietet, den Satz des Pythagoras zu üben. Präsentiert zufällige Aufgabenstellungen mit ganzzahligen Ergebnissen</p>
        <p><a href="http://marko-knoebl.github.io/pythagoras/">Website</a></p>
      </div>
    </div>
  </div>
  <div class="clearfix visible-sm"></div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/stockchart-screenshot.png">
      <div class="caption">
        <h3>Aktienchart</h3>
        <p>Ein interactiver Aktienchart, bei dem ein Symbol und Zeitabschnitt festgelegt werden könen; basiert auf AngularJS</p>
        <p><a href="http://marko-knoebl.github.io/angular-stockchart/">Website</a></p>
      </div>
    </div>
  </div>
</div>
