<h1>Programming</h1>

<p>
  I am a self-taught developer working mostly in the fields of web development (jQuery, Django, Bootstrap, three.js) and algorithmic geometry.
  <!--I am a self-taught developer working mostly with JavaScript and Python.
  I got into coding during my time at university. While studying for becoming a teacher in mathematics
  I also became very interested in Linux and open source software.
  I pursued this passion in my master thesis, developing
  <a href=http://sourceforge.net/p/kubos/wiki/Home/ target="_blank">Kubos</a>,
  an open-source CAD application written in Python.
  Thanks to its thought-through software design it consists of just 4000 lines of code.</p>
  <p>More recently I turned my attention to interactive web content and web applications.
  As a personal project, I created a <a href=http://marko-knoebl.github.io/2048-3D/ target="_blank">3D version</a>
  of the game 2048 and I am working on two web-based 3D modeling applications:
  <a href=https://kubos.pythonanywhere.com/blocks target="_blank">Kubos Blocks</a> and
  <a href=https://kubos.pythonanywhere.com/solids target="_blank">Kubos Solids</a>.
  Furthermore, I've done projects involving Django, AngularJS and Bootstrap.-->
</p>

<h2>Skills</h2>

<h3>Programming languages: Python, JavaScript</h3>
<p>
  I am a big enthusiast for the Python programming language, being very familiar with its syntax and inner workings. I follow all PEPs (Python enhancement proposals) in order to always be up to date with language changes. I like Python for its clear and simple syntax and (mostly) lack of surprising behavior. JavaScript is my second language of choice, which I obviously use for client-side web development. In addition to these languages I am familiar with C#, PHP and Visual Basic.
</p>

<h3>Web development: JavaScript, Angular, three.js</h3>
<p>I am experienced with the development of interactive websites and web applications, having worked with HTML5, jQuery, AngularJS, Bootstrap and interactive SVG and 3D content. On the server side I've mostly worked with Django, Python, nginx, Docker and AWS.</p>

<h3>Maths</h3>
<p>Posessing a master's degree in mathematics, my work as a developer has also involved creating sophisticated mathematical and gemetric algorithms for very specific problems of these fields. In developing these algorithms I have made use of my skills in NumPy, SymPy, SciPy, Sage, Open Cascade, Mathematica and MATLAB.</p>

<!--<h3>Others</h3>
<p>webapp2, OAuth, Linux (Debian), Qt, git</p>-->

<h2>Portfolio</h2>

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/cck-cutter-mirrored.png">
      <div class="caption">
        <h3>Cookie Cutter Customizer</h3>
        <p>A project for the startup <em>Cookie Cutter Kingdom</em>: providing a web-based 3D preview for customized, 3D-printed cookie cutters. The cookie cutters can be personalized with a text or traced from a user-provided image. I also developed an SVG-based drawing tool for creating cutters from custom outlines (not included in the final product)</p>
        <p><a href="http://www.cookiecutterkdom.com/">visit website</a><br>
        <a href="http://www.cookiecutterkdom.com/collections/customizer/products/heart-cutter?variant=1391212545">view example (heart)</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/kontobuch-piechart.png">
      <div class="caption">
        <h3>Kontobuch</h3>
        <p>A personal finance assistant for monitoring spending and income
          of Austrian bank accounts
        </p>
        <p>
          Automatically categorizes transactions and visualizes the user's
          financial data in interactive charts
        </p>
        <p><a href="http://marko-knoebl.github.io/kontobuch/">visit website</a></p>
      </div>
    </div>
  </div>
  <div class="clearfix visible-sm"></div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/2048-3d-screenshot.png">
      <div class="caption">
        <h3>2048 3D</h3>
        <p>A small project in which I created a 3D version of the game 2048</p>
        <p><a href="http://marko-knoebl.github.io/2048-3D/">visit website</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/kubos-0.2-screenshot.png">
      <div class="caption">
        <h3>Kubos</h3>
        <p>A simple desktop CAD application written in Python intended for use in schools (discontinued)</p>
        <p><a href="http://sourceforge.net/p/kubos/wiki/Home/">visit website</a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/screenshot_640x400.png">
      <div class="caption">
        <h3>Kubos Blocks</h3>
        <p>A web-based 3D modeling application for creating objects by assembling blocks.</p>
        <p><a href="https://kubos.pythonanywhere.com/blocks">visit website</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/pythagoras-screenshot.png">
      <div class="caption">
        <h3>Pythagoras Trainer</h3>
        <p>A web app that lets pupils do exercises on the pythagorean theorem. Provides randomized tasks that yield integer results</p>
        <p><a href="http://marko-knoebl.github.io/pythagoras/">visit website</a></p>
      </div>
    </div>
  </div>
  <div class="clearfix visible-sm"></div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="images/stockchart-screenshot.png">
      <div class="caption">
        <h3>Stock Chart</h3>
        <p>An interactive stock chart that lets users select a stock symbol and timeframe; based on Angular</p>
        <p><a href="http://marko-knoebl.github.io/angular-stockchart/">visit website</a></p>
      </div>
    </div>
  </div>
</div>
