<style type="text/css">
  .resume-header h2 {
    color: #9e9e9e;
    font-size: 24px;
  }
  .resume-body h3 {
    text-align: right;
    font-size: 24px;
    margin-top: 0px;
    color: #fdd835;
  }
  @media (max-width: 768px) {
    .resume-body h3 {
      text-align: left;
    }
  }
</style>

<div class="resume-header row" style="max-width:800px; float: none; margin: 0 auto;">
  <div class="col-sm-9 col-sm-push-3">
    <h1>{{basics.name}}</h1>
    <h2>{{basics.label}}</h2>
  </div>
</div>

<div class="row" style="max-width:800px; float: none; margin: 0 auto;">
  <div class="resume-body col-xs-12"><!--container for all content TODO remove?-->
    <!--Contact-->
    <div class="row">
      <div class="col-sm-3">
        <h3>Contact</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-6">
            <strong>e-mail</strong>
            <div>{{basics.email}}</div>
          </div>
          <div class="col-sm-6">
            <strong>phone</strong>
            <div>{{basics.phone}}</div>
          </div>
          <div class="col-sm-6">
            <strong>website</strong>
            <div><a href="{{basics.website}}">{{basics.website}}</a></div>
          </div>
          <div class="col-sm-6">
            <strong>address</strong>
            <div>
              {{basics.location.address}}<br>
              {{basics.location.postalCode}}, {{basics.location.city}}<br>
              {{basics.location.region}}, {{basics.location.countryCode}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--About-->
    <div class="row">
      <div class="col-sm-3">
        <h3>About</h3>
      </div>
      <!--TODO:simplify?-->
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">
            {{basics.summary}}
          </div>
        </div>
      </div>
    </div>
    <!--Profiles-->
    <div class="row" ng-if="basics.profiles">
      <div class="col-sm-3">
        <h3>Profiles</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div ng-repeat="profile in basics.profiles" class="col-sm-6">
            <strong>{{profile.network}}</strong>
            <div>{{profile.username}}</div>
            <div><a href="{{profile.url}}">{{profile.url}}</a></div>
          </div>
        </div>
      </div>
    </div>
    <!--Work-->
    <div class="row" ng-if="work">
      <div class="col-sm-3">
        <h3>Work</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div ng-repeat="work in work" class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <h4>{{work.company}}</h4>
              </div>
              <div class="col-sm-6 pull-right" style="text-align:right">
                {{work.startDate}} - {{work.endDate}}
              </div>
              <div class="clearfix"></div>
              <strong class="col-sm-6">
                {{work.position}}
              </strong>
              <div class="col-sm-6" style="text-align:right">
                <a href="{{work.website}}">{{work.website}}</a>
              </div>
              <div class="col-sm-12">
                {{work.summary}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--volunteer-->
    <div class="row" ng-if="volunteer">
      <div class="col-sm-3">
        <h3>Volunteer</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12" ng-repeat="volunteer in volunteer">
            <div class="row">
              <div class="col-sm-6">
                <h4>{{volunteer.organization}}</h4>
              </div>
              <div class="col-sm-6" style="text-align:right">
                {{volunteer.startDate}} - {{volunteer.endDate}}
              </div>
              <div class="clearfix"></div>
              <strong class="col-sm-6">
                {{volunteer.position}}
              </strong>
              <div class="col-sm-6" style="text-align:right">
                <a href="{{volunteer.website}}">{{volunteer.website}}</a>
              </div>
              <div class="col-sm-12">
                {{volunteer.summary}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--education-->
    <div class="row" ng-if="education">
      <div class="col-sm-3">
        <h3>Education</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12" ng-repeat="education in education">
            <div class="row">
              <div class="col-sm-6">
                <h4>{{education.institution}}</h4>
              </div>
              <div class="col-sm-6" style="text-align:right">
                {{education.startDate}} - {{education.endDate}}
              </div>
              <div class="clearfix"></div>
              <strong class="col-sm-12">
                {{education.area}}
              </strong>
              <div class="col-sm-12">
                {{education.studyType}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--awards-->
    <div class="row" ng-if="awards">
      <div class="col-sm-3">
        <h3>Awards</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12" ng-repeat="award in awards">
            <div class="row">
              <div class="col-sm-12">
                <h4>{{award.title}}</h4>
              </div>
              <div class="col-sm-6">
                <em>by</em> {{award.awarder}}
              </div>
              <div class="col-sm-6" style="text-align:right">
                {{award.date}}
              </div>
              <div class="col-sm-12">
                {{award.summary}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--publications-->
    <div class="row" ng-if="publications">
      <div class="col-sm-3">
        <h3>Publications</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12" ng-repeat="publication in publications">
            <div class="row">
              <div class="col-sm-6">
                <h4>{{publication.name}}</h4>
              </div>
              <div class="col-sm-6" style="text-align:right">
                {{publication.releaseDate}}
              </div>
              <div class="clearfix"></div>
              <div class="col-sm-6">
                <em>Published by</em> {{publication.publisher}}
              </div>
              <div class="col-sm-6" style="text-align:right">
                <a href="{{publication.website}}">{{publication.website}}</a>
              </div>
              <div class="col-sm-12">
                {{award.summary}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--skills-->
    <div class="row" ng-if="skills">
      <div class="col-sm-3">
        <h3>Skills</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-6" ng-repeat="skill in skills">
            <h4>{{skill.name}}</h4>
            <ul>
              <li ng-repeat="keyword in skill.keywords">
                {{keyword}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--languages-->
    <div class="row" ng-if="languages">
      <div class="col-sm-3">
        <h3>Languages</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-4" ng-repeat="language in languages">
            <h4>{{language.language}}</h4>
            {{language.fluency}}
          </div>
        </div>
      </div>
    </div>
    <!--interests-->
    <div class="row" ng-if="interests">
      <div class="col-sm-3">
        <h3>Interests</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-6" ng-repeat="interest in interests">
            <h4>{{interest.name}}</h4>
            <ul>
              <li ng-repeat="keyword in interest.keywords">
                {{keyword}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--references-->
    <div class="row" ng-if="references">
      <div class="col-sm-3">
        <h3>References</h3>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12" ng-repeat="reference in references">
            <blockquote>{{reference.reference}}</blockquote>
            - {{reference.name}}
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
